<p>
  <a href="{{site.swc_site}}">Software Carpentry</a>
  tiene como objetivo ayudar a los investigadores a realizar su trabajo
  en menos tiempo y con menos dolor
  enseñándoles habilidades informáticas básicas de investigación.
  Este taller práctico cubrirá conceptos y herramientas básicas de programación y graficado.
  Se animará a los participantes a ayudarse unos a otros.
  y aplicar lo que han aprendido a sus propios problemas de investigación.
</p>
<p align="center">
  <em>
    Para obtener más información sobre lo que enseñamos y por qué,
    por favor vea nuestro artículo
    "<a href="https://doi.org/10.1371/journal.pbio.1001745">Best Practices for Scientific Computing</a>".
  </em>
</p>
