<div class="row">
  <div class="col-md-6">
    <h3>Dia 1</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>09:00</td>  <td>Correr y salir; asignación de variables</td> </tr>
      <tr> <td>10:00</td>  <td>Tipos y conversión de datos</td> </tr>
      <tr> <td>11:00</td>  <td>Descanso</td> </tr>
      <tr> <td>11:30</td>  <td>Tipos de datos</td> </tr>
      <tr> <td>12:00</td>  <td>Funciones integradas y ayuda</td> </tr>
      <tr> <td>13:00</td>  <td>Bibliotecas</td> </tr>
      <tr> <td>14:00</td>  <td>Comida</td> </tr>
      <tr> <td>15:00</td>  <td>Dataframes y Pandas</td> </tr>
      <tr> <td>16:00</td>  <td>Plotting</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Dia 2</h3>
    <table class="table table-striped">
      <tr> <td></td> <td></td> </tr>
      <tr> <td>09:00</td>  <td>Repaso y dudas</td> </tr>
      <tr> <td>10:00</td>  <td>Listas, bucle For</td> </tr>
      <tr> <td>11:00</td>  <td>Descanso</td> </tr>
      <tr> <td>11:30</td>  <td>Condicionales y Recorrer conjuntos de datos</td> </tr>
      <tr> <td>12:00</td>  <td>Escribir funciones</td> </tr>
      <tr> <td>13:00</td>  <td>Alcance de variables</td> </tr>
      <tr> <td>14:00</td>  <td>Comida</td> </tr>
      <tr> <td>15:00</td>  <td>Estilo de Programación y Resúmen</td> </tr>
      <tr> <td>16:00</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
    </table>
  </div>
</div>
